body {
    background: linear-gradient(-45deg, #fa0303, #f69090, #2332d5, #2394d5) no-repeat;
}



.container {
    display: flex;
    background: transparent;
    justify-content: space-around; 
    width: 95vw;
    height: 100vh;
    align-items: center;
    
}

.box {
    display: flex;
    width: 25vw;
    height: 25vh;
    border-radius: 20px;
    box-shadow: 3px 3px 1px 0px #00000070;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    
    
}
a {
    color: white;
    text-decoration: none;
    margin: auto;
}
.box:hover {
    background: linear-gradient(-45deg, #fa0303, #f69090, #2332d5, #2394d5) no-repeat;
}
footer#rodape {
    clear: both;
    text-align: center;margin-top: 3%;
}

  footer#rodape p {
    text-align: center;
    color: black;
}

  footer#rodape a {
    color: black;
  }

