body {
  background: linear-gradient(-45deg, #fa0303, #f69090, #2332d5, #2394d5) no-repeat;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
  }

  div {
    color: white;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #fa0303, #f69090, #2332d5, #2394d5) no-repeat;
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
  }
  
  .title{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px blue;
    margin-bottom: 20px;
  }
 
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
  }
  
  .input label {
    font: bold 1.5rem serif;
  }
  
  button{
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background: blue;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: blue;
    color: rgb(255,198,0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }

  footer#rodape {
    clear: both;
    border-top: 1px solid #caf605;
    text-align: center;
}

  footer#rodape p {
    text-align: center;
    color: black;
}

  footer#rodape a {
    color: black;